<!--<ion-header>
  <ion-toolbar>
    <ion-title>GuestProfile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let building of buildingList">
    <ion-label  color="primary" >Nome: {{ guest.name }}</ion-label>
  </ion-item>

  <ion-item *ngFor="let building of buildingList">
    <ion-label  color="primary" >Data de nascimento: {{ guest.birthDate }}</ion-label>
  </ion-item>

  <ion-item *ngFor="let building of buildingList">
    <ion-label  color="primary" >Email: {{ guest.email }}</ion-label>
  </ion-item>

  <ion-item *ngFor="let building of buildingList">
    <ion-label  color="primary" >CPF: {{ guest.cpf }}</ion-label>
  </ion-item>

  <ion-item>
      <ion-img [src]="fotoUrl" alt=""></ion-img>
  </ion-item>

  <form class="form">
    <ion-button class="submit-btn" type="submit" expand="full" fill="clear" color="blue" (click)="GoUpdateGuestPage()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Alterar informações
    </ion-button>
  </form>
  <form class="form">
    <ion-button class="submit-btn" type="submit" expand="full" fill="clear" color="red" (click)="DeleteGuest()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Apagar usuário
    </ion-button>
  </form>
</ion-content>-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tela de Perfil</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v2.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

  <!-- ======= Header ======= -->
  <ion-header id="header"style="background-color:#060c22">
    <div class="container" >
  
      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#intro">The<span>Event</span></a></h1>-->
        <a href="index.html" class="scrollto"><img src="../assets/img/Logo.png" alt="" title="QRpass"></a>
      </div>
  
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Home</a></li>
          <li><a href="/home#about">Quem somos</a></li>
          <li><a href="/home#speakers">Equipe</a></li>
          <li><a href="/home#venue">Eventos</a></li>
          <li><a href="/home#gallery">Galeria</a></li>
          <li><a href="/home#contact">Contatos</a></li>
          <li class="buy-tickets"><a href="/home">Fazer logout</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </ion-header><!-- End Header -->

  <ion-content class="ion-padding" fullscreen="true">
    <main id="main">
      <br>
      <br>
      <br><br><br>
            <section id="checkout-container"> <h2 (click)="goMainPage()">< voltar</h2>
                <div class="container">
                 
                        <div class=" order-md-2 mb-4">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                            </h4> 
                            <br><br>
                            <h2 class="text-center" style="color:#a90ae7">SEU PERFIL</h2>
                            <br>
                            <div align="center">
                              <img [src]="fotoUrl" style="border-radius:10%" width="250" height="250">
                            </div>            
                            <br>
                            <table>
                              <tr>
                                <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">Nome: </h3></td>
                                <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.name }}</h4></td>
                              </tr>
              
                              <tr>
                                <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">Data de nascimento: </h3></td>
                                <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.birthDate }}</h4></td>
                              </tr>
              
                              <tr>
                                <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">Email: </h3></td>
                                <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.email }}</h4></td>
                              </tr>
              
                              <tr>
                                <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">CPF: </h3></td>
                                <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.cpf }}</h4></td>
                              </tr>
              
                              <tr>
                                <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">Gênero: </h3></td>
                                <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.gender }}</h4></td>
                              </tr>
              
                              <tr>
                                <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">Telefone: </h3></td>
                                <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.number }}</h4></td>
                              </tr>
                            </table>
                            <br><br><br>

                            <a >
                              <button class="btn btn-primary btn-lg btn-block" style="background-color:#a90ae7;border-color:#a90ae7" (click)="GoUpdateGuestPage()">
                            Editar Perfil
                              </button>
                            </a>
                            <br><br><br>
                            
                        </div>
                </div>
            </section>
      <!-- ======= About Section ======= -->
      <!-- End About Section -->
  
      <!-- ======= Speakers Section ======= -->
      <!-- End Speakers Section -->
  
      <!-- ======= Schedule Section ======= -->
            <!-- End Schdule Day 1 -->
  
            <!-- Schdule Day 2 -->
  
            <!-- End Schdule Day 2 -->
  <!-- End Schedule Section -->
  
      <!-- ======= Venue Section ======= --><!-- End Venue Section -->
  
      <!-- ======= Hotels Section ======= -->
     <!-- End Contact Section -->
  
    </main><!-- End #main -->
    </ion-content>
 <!-- <ion-content fullsceen="true">
  <div>
  		<div class="margem container">
              <h2 class="text-center" style="color:#a90ae7">SEU PERFIL</h2>
              <br>
              <div align="center">
                <img [src]="fotoUrl" style="border-radius:10%" width="250" height="250">
            </div>
          <div class=" order-md-2 mb-4">
            <table>
                <tr>
                  <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">Nome: </h3></td>
                  <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.name }}</h4></td>
                </tr>

                <tr>
                  <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">Data de nascimento: </h3></td>
                  <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.birthDate }}</h4></td>
                </tr>

                <tr>
                  <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">Email: </h3></td>
                  <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.email }}</h4></td>
                </tr>

                <tr>
                  <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">CPF: </h3></td>
                  <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.cpf }}</h4></td>
                </tr>

                <tr>
                  <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">Gênero: </h3></td>
                  <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.gender }}</h4></td>
                </tr>

                <tr>
                  <td style="border-bottom: 1px solid #ddd" ><h3 style="color:#a90ae7">Telefone: </h3></td>
                  <td style="border-bottom: 1px solid #ddd"><h4>{{ guest.number }}</h4></td>
                </tr>
              </table>
              
  			<form method="POST" action="valida.php">

        </form>

        <a >
          <button class="btn btn-primary btn-lg btn-block" (click)="GoUpdateGuestPage()">
        Editar Perfil
          </button>
      </a>

      <br>
        </div>
  		</div>
  	</div>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

  <main id="main">

  </main><!-- End #main 

</ion-content>-->

  

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/wow/wow.min.js"></script>
  <script src="../assets/vendor/venobox/venobox.min.js"></script>
  <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../assets/vendor/superfish/superfish.min.js"></script>
  <script src="../assets/vendor/hoverIntent/hoverIntent.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</html>
