<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Main menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form class="form">
    <ion-button class="submit-btn" type="submit" expand="full" fill="clear" color="blue" (click)="GoToProfilePage()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Perfil do usuário
    </ion-button>
  </form>
</ion-content>
<ion-list>
  <ion-item *ngFor="let notification of notifications | async">
    <p>{{notification.name}}</p>
    <p>{{notification.cpf}}</p>
  </ion-item>
</ion-list>