<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating" color="primary">Nome</ion-label>
    <ion-input [(ngModel)]="guest.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="primary">Data de nascimento</ion-label>
    <ion-input type="date" [(ngModel)]="guest.birthDate"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="primary">CPF</ion-label>
    <ion-input [(ngModel)]="guest.cpf"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="primary">Telefone</ion-label>
    <ion-input [(ngModel)]="guest.number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="primary">Gênero</ion-label>
    <ion-select [(ngModel)]="guest.gender" value="Feminino" ok-text="Selecionar" cancel-text="Cancelar">
      <ion-select-option value="Feminino">Feminino</ion-select-option>
      <ion-select-option value="Masculino">Masculino</ion-select-option>
      <ion-select-option value="Diverso">Diverso</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
      <ion-img [src]="url" alt=""></ion-img>
  </ion-item>
  <ion-item>
        <ion-input [id]="Foto" (change)="uploadImage($event)" type="file" class="image-upload" accept="image/*" [(ngModel)]="guest.foto"></ion-input>
  </ion-item>


  <form class="form">
    <ion-button class="submit-btn" type="submit" expand="full" fill="clear" color="blue" (click)="updateGuest()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Alterar cadastro
    </ion-button>
  </form>
</ion-content>
